[Unit]
Description=coversocks service
After=network.target

[Service]
User=cs
Restart=always
WorkingDirectory=/home/cs/
ExecStart=/home/cs/coversocks/coversocks -s -f /home/cs/conf/coversocks.json
# EnvironmentFile=/etc/coversocks/coversocks.env

[Install]
WantedBy=multi-user.target