[Unit]
Description=udpgw service
After=network.target

[Service]
User=cs
Restart=always
WorkingDirectory=/home/cs/
ExecStart=/home/cs/coversocks/udpgw --listen-addr 127.0.0.1:13200 --loglevel 3

[Install]
WantedBy=multi-user.target